<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
    <title>Clientes</title>

    <body>
        <%- include('includes/navbar') %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8 my-3">
                        <h1 class="text-center">Clientes</h1>

                        <%- include('includes/messeges') %>

                        <!-- Formulário de Pesquisa -->
                        <form method="GET" action="/clientes" class="d-flex">
                            <input type="text" name="search" placeholder="Pesquisar por nome, email ou telefone" class="form-control me-2" aria-label="Pesquisar">
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                        </form>
                        
                        <% if (typeof user !== 'undefined' && user && user.role !== 'usuario' && user.role !== 'desk') { %>
                        <% if(usuarios.length > 0) { %>

                            <div class="responsive-table">
                                <table class="table my-3">
                                    <% usuarios.forEach(usuario => { %>

                                        <tr>
                                            <td><%= usuario.nome %></td>
                                            <td><%= usuario.email %></td>
                                            <td><%= usuario.telefone || "nenhum contacto adicionado" %></td>
                                            <td><a class="text-success" href="/clientes/historico/<%= usuario.id %>">Historico</a></td>
                                            <td><a href="/clientes/index/<%= usuario.id %>">Editar</a></td>
                                            <td><a class="text-danger" href="/clientes/delete/<%= usuario.id %>">Excluir</a></td>
                                        </tr>

                                    <% }) %>
                                </table>
                            </div>

                        <% } else { %>

                            <p class="text-center lead">Não existem clientes cadastrados</p>

                        <% } %>

                        <% }else if(typeof user !== 'undefined' && user && user.role !== 'usuario' && user.role !== 'admin') { %>
                            <% if(usuarios.length > 0) { %>

                                <div class="responsive-table">
                                    <table class="table my-3">
                                        <% usuarios.forEach(usuario => { %>
    
                                            <tr>
                                                <td><%= usuario.nome %></td>
                                                <td><%= usuario.email %></td>
                                                <td><%= usuario.telefone || "nenhum contacto adicionado" %></td>
                                                <td><a class="text-success" href="/clientes/historico/<%= usuario.id %>">Historico</a></td>
                                                <td><a class="text-success" href="/agendar/<%= usuario.id %>">Criar Sessao</a></td>
                                            
                                            </tr>
    
                                        <% }) %>
                                    </table>
                                </div>
    
                            <% } else { %>
    
                                <p class="text-center lead">Não existem clientes cadastrados</p>
    
                            <% } %>

                        <% } %>    

                    </div>

                    <div class="col-lg-2"></div>
                </div>
            </div>
            <%- include('includes/script') %>

    </body>
</html>
