<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
    <title>Sessao</title>

    <body>
        <%- include('includes/navbar') %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>

                    <div class="col-lg-8 my-3">
                        <h1 class="text-center">Sessao</h1>
                        <p class="text-center lead">Preencha os seus dados</p>

                        <%- include('includes/messeges') %>

                            <form action="/sessao/data" method="post">
                                <div class="container mt-5">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <label for="pacote" class="form-label">Pacote</label>
                                    <select class="form-select" id="pacote" name="pacote">
                                        <option value="" disabled selected>Selecione uma categoria</option>
                                        <option value="consulta">Consulta</option>
                                        <option value="corpo">Corpo</option>
                                        <option value="beleza">Beleza</option>
                                        <option value="rosto">Rosto</option>
                                        <option value="metodo">Metodo Renata Franca Drenagem/Modeladora</option>
                                        <option value="liposhaper">Liposhaper</option>
                                    </select>
                                </div>

                                <div class="mb-3 d-none container mt-4" id="subpacote-container">
                                    <label for="subpacote" class="form-label">Subpacote</label>
                                    <select class="form-select" id="subpacote" name="subpacote">
                                        <option value="" disabled selected>Selecione uma subcategoria</option>
                                    </select>
                                </div>

                                <div class="container mt-5">
                                    <label for="tratamentos" class="form-label">Tratamento</label>
                                    <select class="form-select" id="tratamentos" name="tratamentos[]" multiple disabled>
                                        <option value="" disabled>Selecione um pacote primeiro</option>
                                    </select>
                                    <div class="form-text">Segure CTRL (ou CMD) para selecionar vários produtos.</div>
                                </div>

                                <div class="mb-3 my-3">
                                    <label class="form-label">Data e Hora de Consulta</label>
                                    <input type="datetime-local" class="form-control" name="data_hora_consulta"
                                        value="">
                                </div>

                                <!-- Campo oculto para armazenar preços -->
                                <input type="hidden" name="preco_tratamentos" id="preco_tratamentos">

                                <!-- Exibição do preço total -->
                                <p class="mt-3"><strong>Total: <span id="precoTotal">0.00</span></strong> MT</p>

                                <button type="submit" class="btn btn-primary my-3">Salvar</button>
                            </form>
                    </div>

                    <div class="col-lg-2"></div>
                </div>
            </div>
            <%- include('includes/script') %>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const categoriaSelect = document.getElementById("pacote");
                        const subcategoriaContainer = document.getElementById("subpacote-container");
                        const subcategoriaSelect = document.getElementById("subpacote");
                        const produtosSelect = document.getElementById("tratamentos");
                        const precoInput = document.getElementById("preco_tratamentos");

                        const dados = {
                            beleza: {
                                limpezas_de_pele: [
                                    { value: "hidratacao facial", text: "Hidratacao Facial", preco: 300 },
                                    { value: "esfoliacao_completa_facial", text: "Esfoliacao Completa Facial", preco: 250 },
                                    { value: "revitalizacao_facial", text: "Revitalizacao Facial", preco: 350 },
                                    { value: "controlo_da_acne_facial", text: "controlo da acne facial", preco: 3500 },
                                    { value: "foliculte_virilha", text: "Foliculte - Virilha", preco: 2500 },
                                    { value: "acne_nas_costas_braco", text: "Acne nas costas/braco", preco: 3500 }
                                ],
                                peeling_algae: [
                                    { value: "rosto", text: "Rosto", preco: 500 },
                                    { value: "axilas", text: "Axilas", preco: 200 },
                                    { value: "virilha", text: "Virilha", preco: 250 },
                                    { value: "barriga", text: "Barriga", preco: 10000 },
                                    { value: "gluteos", text: "Gluteos", preco: 12500 },
                                    { value: "costas", text: "Costas", preco: 12500 },
                                    { value: "combo/costas_e_gluteos", text: "Combo/Costas e Gluteos", preco: 15000 }
                                ],
                                depilacao: [
                                    { value: "cera_bikini_line", text: "Cera - Bikini Line", preco: 500 },
                                    { value: "cera_axilas", text: "Cera - Axilas", preco: 200 },
                                    { value: "cera_virilha_comleta", text: "Cera - Virilha Comleta", preco: 250 },
                                    { value: "cera_buco", text: "Cera - Buco", preco: 300 },
                                    { value: "cera_sobrancelhas", text: "Cera - Sobrancelhas", preco: 300 },
                                    { value: "lamina_sobrancelhas", text: "Lamina - Sobrancelhas", preco: 150 },
                                    { value: "pinca_sobrancelhas", text: "Pinca - Sobrancelhas", preco: 250 }
                                ]
                            },
                            consulta: [
                                { value: "estetica_corporal", text: "Estetica Corporal", preco: 150 },
                                { value: "nutricional_guia", text: "Nutricional + Guia", preco: 200 },
                                { value: "estetica_facial", text: "Estetica Facial", preco: 200 }
                            ],
                            corpo: [
                                { value: "esfoliacao", text: "Esfoliacao", preco: 150 },
                                { value: "massagem_relaxante", text: "Massagem Relaxante", preco: 200 },
                                { value: "massagem_relaxante_esfoliacao", text: "Massagem Relaxante Esfoliacao", preco: 200 },
                                { value: "massagem_modeladora", text: "Massagem Modeladora", preco: 3000 },
                                { value: "drenagem_linfatica", text: "Drenagem Linfatica", preco: 2000 },
                                { value: "lipomassagem", text: "Lipomassagem", preco: 4000 }
                            ],
                            metodo: [
                                { value: "pernas", text: "Pernas", preco: 150 },
                                { value: "gluteo", text: "Gluteo", preco: 200 }
                            ],
                            liposhaper: [
                                { value: "abdomen_inferior", text: "Abdomen Inferior", preco: 150 },
                                { value: "abdomen_superior", text: "Abdomen Superior", preco: 200 }
                            ],
                            rosto: [
                                { value: "mesolift(rugas,linhas_de_expressao)", text: "Mesolift(rugas, linhas de expressao)", preco: 150 },
                                { value: "skin_boost(rugas&linhas_de_expressao)", text: "Skin Boost(rugas & linhas de expressao)", preco: 200 }
                            ]
                        };

                        categoriaSelect.addEventListener("change", () => {
                            const categoriaSelecionada = categoriaSelect.value;
                            subcategoriaSelect.innerHTML = "";
                            produtosSelect.innerHTML = "";

                            if (categoriaSelecionada === "beleza") {
                                subcategoriaContainer.classList.remove("d-none");
                                subcategoriaSelect.disabled = false;
                                produtosSelect.disabled = true;
                                subcategoriaSelect.innerHTML = `<option value="" disabled selected>Selecione uma subcategoria</option>`;

                                Object.keys(dados[categoriaSelecionada]).forEach(subcategoria => {
                                    const option = document.createElement("option");
                                    option.value = subcategoria.replace(/_/g, " ");
                                    option.textContent = subcategoria.replace(/_/g, " ").replace(/\b\w/g, char => char.toUpperCase());
                                    subcategoriaSelect.appendChild(option);
                                });

                                subcategoriaSelect.addEventListener("change", () => {
                                    produtosSelect.innerHTML = "";
                                    produtosSelect.disabled = false;
                                    // Corrigir nome da subcategoria para corresponder à chave do objeto
                                    const subcategoriaSelecionada = subcategoriaSelect.value.replace(/ /g, "_"); // Substitui espaços por "_"

                                    if (dados[categoriaSelecionada][subcategoriaSelecionada]) {
                                        dados[categoriaSelecionada][subcategoriaSelecionada].forEach(produto => {
                                            const option = document.createElement("option");
                                            option.value = produto.value;
                                            option.textContent = `${produto.text} - R$ ${produto.preco.toFixed(2)}`;
                                            option.dataset.preco = produto.preco;
                                            produtosSelect.appendChild(option);
                                        });
                                    }
                                });
                            } else if (dados[categoriaSelecionada]) {
                                subcategoriaContainer.classList.add("d-none");
                                subcategoriaSelect.disabled = true;
                                produtosSelect.disabled = false;
                                produtosSelect.innerHTML = "";

                                dados[categoriaSelecionada].forEach(produto => {
                                    const option = document.createElement("option");
                                    option.value = produto.value;
                                    option.textContent = `${produto.text} - R$ ${produto.preco.toFixed(2)}`;
                                    option.dataset.preco = produto.preco;
                                    produtosSelect.appendChild(option);
                                });
                            }
                        });

                        produtosSelect.addEventListener("change", () => {
                            let precosTratamentos = [];
                            let total = 0;

                            const selectedOptions = Array.from(produtosSelect.selectedOptions);

                            selectedOptions.forEach(option => {
                                const preco = parseFloat(option.dataset.preco);
                                precosTratamentos.push(preco);
                                total += preco;
                            });

                            precoInput.value = JSON.stringify(precosTratamentos);
                            document.getElementById("precoTotal").textContent = total.toFixed(2);
                        });
                    });
                </script>
    </body>

</html>